body{
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
   background: 
    url('cave.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.gem-counter{
  font-size: 7vh;
  text-align: center;
  color: rgb(0, 255, 0);
  filter: contrast(1.5)
  saturate(1.5);
  
}
.background-diamond{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  animation: float 10s linear infinite alternate, glow-effect 10s infinite linear alternate;
}
@keyframes float{
  0%{transform:translate(-50%, -50%) translateY(0px);}
  50%{transform:translate(-50%, -50%) translateY(15px);}
  100%{transform:translate(-50%, -50%) translateY(0px);}
}

@keyframes glow-effect{
  0%{filter: drop-shadow(0 0 10px rgb(0, 47, 255)) hue-rotate(0deg)contrast(1.2)  saturate(1.5) ;}
  50%{filter: drop-shadow(0 0 30px rgb(252, 2, 2)) hue-rotate(75deg) contrast(1.5) saturate(1.5);}
  100%{filter: drop-shadow(0 0 10px rgb(22, 255, 1)) hue-rotate(0deg)contrast(1.2)  saturate(1.5);}
}  
#small-diamond{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 35vh;
  filter: contrast(2.5) saturate(1.1) brightness(1.3);
}

.bounce{
  animation:bounce 0.2s;
}

@keyframes bounce{
  0%{transform:translate(-50%, -50%) scale(1);}
  100%{transform:translate(-50%, -50%) scale(1.4);}
}

.gem-popup {
  height: 25px;
  animation: sparkle 1.7s infinite linear; /* Fixed: Much faster sparkle */
  pointer-events: none;
}

@keyframes sparkle {
  0%   { filter: drop-shadow(0 0 5px white) brightness(1.2); transform: rotate(0deg); }
  50%  { filter: drop-shadow(0 0 15px rgb(255, 0, 0)) brightness(1.8); transform: rotate(15deg); }
  100% { filter: drop-shadow(0 0 5px white) brightness(1.2); transform: rotate(0deg); }
}

.diamond-container {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: popFade 1.5s ease-out forwards; /* Fixed: Faster + natural easing */
}

@keyframes popFade {
  0%   { 
    transform: translate(-50%, -50%) scale(1); 
    opacity: 1; 
  }
  100% { 
    transform: translate(calc(-50% + var(--moveX, 0px)), calc(-50% + var(--moveY, -150px))) scale(1.4); 
    opacity: 1; 
  }
}
.upgrades{
  background-color: aliceblue;
  margin-left: 30px;
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}
.first-upgrade{
  margin-left: 30px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 18px;
  padding-right: 17px;
  background-color: aqua;
  font-weight: bold;
  font-size: 30px;

}

.second-upgrade{
  margin-left: 30px;
  border-radius: 5px;
  padding: 10px;
  background-color: aqua;
  font-weight: bold;
  font-size: 30px;

}
.info{ position: absolute;
  left: 70%;
  top: 50%;
  border: solid red 2px;
  height: 150px;
  width: 300px;
  background-color: bisque;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}